*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
nav{
    background: #70AD73;
    height: 150px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    text-align: left;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase
}
a.active,a:hover{
    background: #408943;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 8px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952){
    label.logo{
        font-size: 30px;
        padding-left: 50px
    }
    nav ul li a{
        font-size: 16px;    
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height:100vh;
        background: #BFE4C1;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #BFE4C1;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

/* footer */
 @import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #eaf0f2;
}

header {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 300px;
    font-size: 35px;
}

header h2 {
}

header span {
    color: #eaa03f;
}

/* The footer is fixed to the bottom of the page */

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
        

        
/* checkout box */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  
}

.container form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #27ae60;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover{
  background: #2ecc71;
}
 h10{
        font-size: 3em;
     gt
        margin: 10px -280px 100px 10px;
    }
.dog-clippers{
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.price{
    text-align: center;
    font-family: bold;
}


.home-image{
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}
.our-story{
    text-align: center;
    font-size: 1.8em;
    color: darkslategray;
}

.pet-header{
    text-align: center;
    font-size: 1.5em;
    font-family: bold;
    color: darkslategray;
}
.index-text{
    text-align: center;
        padding: 0px 0px 0px 10px.
}

.Products-text{
    display: block;
    text-align: center;
}
.Products-discription{
    display: block;
    text-align: center;
}
h5{
    display: block;
    font-size: 18px;
    text-align: center;
}
h4{
    text-align: center;
    font-size: 30px;
    color: darkslategrey;
}
.contact-text{
    text-align: center;
}

.map{
    align-content: center;
    width: 100%;
}
/*FAQ */

.header{
        border-radius: 20px 20px 0px 0px;
        padding: 10px 0px;
        background: darkgreen;
        color: #fff;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
      }
      .faq-item{
        margin-bottom: 40px;
        margin-top: 40px;
      }
      .faq-body{
        display: none;
        margin-top: 30px;
      }
      .faq-wrapper{
        width: 75%;
        margin: 0 auto;
      }
      .faq-inner{
        padding: 30px;
        background: aliceblue;
      }
      .faq-plus{
        float: right;
        font-size: 1.4em;
        line-height: 1em;
        cursor: pointer;
      }
      hr{
        background-color: #9b9b9b;
      }
/* services */

.wrapper{
    width: 1000px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper h1{
    font-size: 3em;
    margin: 25px 0;
    text-align: center;
    font-weight: 500;
}

.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}

.card{
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #A3DAA6;
    margin: 10px 4px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.2);
}

.card i{
    margin: 20px;
    color: #ff5724;
}
.card h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
}
.card p{
    color: black;
    text-align: center;
}
.card:hover i,
.card:hover p{
    color: #fff;
}
.card:hover h2{
    font-weight: 600;
}
.card:nth-child(1):hover{
    background: linear-gradient(45deg, rgba(255,28,8,0.8)0%, rgba(255,0,82,0.8) 100%),url('images/cat_image .jpg');
    background-size: cover;
}
.card:nth-child(2):hover{
    background: linear-gradient(45deg, rgba(255,28,8,0.8)0%, rgba(255,0,82,0.8) 100%),url('images/cat_image .jpg');
    background-size: cover;
}
.card:nth-child(3):hover{
    background: linear-gradient(45deg, rgba(255,28,8,0.8)0%, rgba(255,0,82,0.8) 100%),url('images/cat_image .jpg');
    background-size: cover;
}
.card:nth-child(4):hover{
    background: linear-gradient(45deg, rgba(255,28,8,0.8)0%, rgba(255,0,82,0.8) 100%),url('images/cat_image .jpg');
    background-size: cover;
}
.card:nth-child(5):hover{
    background: linear-gradient(45deg, rgba(255,28,8,0.8)0%, rgba(255,0,82,0.8) 100%),url('images/cat_image .jpg');
    background-size: cover;
}
.card:nth-child(6):hover{
    background: linear-gradient(45deg, rgba(255,28,8,0.8)0%, rgba(255,0,82,0.8) 100%),url('images/cat_image .jpg');
    background-size: cover;
}
.services-text{
    text-align: center;
}
@media(max-width: 991px){
    .wrapper{
        padding: 25px;
        width: 500px;   
    }
    .wrapper h1{
        font-size: 2.5em;
        font-weight: 600;
    }
    .content-box{
        flex-direction: column;
        width: 100%;
    }
    .card{
        min-width: 300px;
        margin: 10px auto;
    }
    .services-text{
  position: relative;
        left: 200px;
        width: 300px;
}
 .wrapper1{
    position: relative;
     left:-250px;
}
}


/* groomers page */


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em;
  text-align: center;
}
.column {
  width: 100%;
  padding: 0.5em 0;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 3.5em;
  color: #1f003b;
}
.card1 {
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #1f003b;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ffffff;
}
.card1 .img-container {
  width: 8em;
  height: 8em;
  background-color: #97DD9A ;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
.card1 img {
  width: 100%;
    height: 100%;
  border-radius: 50%;
}
.card1 h3 {
  font-weight: 500;
}
.card1 p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}
.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.card1 a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}
.card1:hover {
  background: linear-gradient(#0F6613 , #339137 );
  color: #ffffff;
}
.card1:hover .img-container {
  transform: scale(1.15);
}
@media screen and (min-width: 768px) {
  section {
    padding: 1em 7em;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em;
  }
  .card1 {
    padding: 5em 1em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
    
    
}

/*at Home */
h7{
    text-align: center;
    font-size: 2.5em;
    font-family:fantasy;
    text-align: center;
    color: darkslategray;

}


.athome-image{
      border-radius: 10px;
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.athome-image1{
      border-radius: 10px;
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 54%;
    
    
    
    
}
.at-home-header{
    text-align: center;
    font-size: 1.5em;
    color: darkslategray;
    font-family: bold;
}
.at-home-text{
    text-align: center;
    
    
}
@media screen and (max-width: 900px){
{
    display: none;
}
    .form-grid{
        display: none;
    }
    .tablet-view{
        display: none;
    }
    .services-text{
    text-align: center;
            font-size: 1.2em;
        margin: 10px 400px 10px 10px;
    }
    .wrapper1{
    width: 400px;
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  
    
    
}
@media screen and (min-width: 900px){
    .mobile-view{
        display: none;}
    
    
}
    
    @media screen and (max-width: 1200px){
        .services-text{
    text-align: center;
            font-size: 1.2em;
        
}
        
    }
@media screen and (max-width: 1200px){
    .col1{
      width: 100%;
        margin: 10px;
        height: 350px;
        background-color: #BFE4C1;
    }
    .john-diggle{
        font-size: 1em;
        font-family: bold;
        padding: 0px 0px 0px 30px;
    }
    .review{
        padding: 0px 0px 0px 20px;
    }
    h6{
        font-size: 1.5em;
        color: darkslategray;
        padding: 0px 0px 0px 10px;
    }
    .home-image{
        width: 30%;
        align-content: center;        
    }
    .our-story{
        background-color: #BFE4C1;
    }
    .home-col{
        background: #96BC98;
        height: 1800px;
        
    }
    .review{
        padding: 1rem;
    }
    .form-grid{
        text-align: center;
        background-color: #BFE4C1;
        width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
    }
    fieldset {
        margin: 2em 0;
        padding: 1em 2em;
        border: solid 1px #ccc;
        border-radius: 200px;
        min-width: 200px;
    }
    legend{
        font-size: 1.25em;
        padding: 0 .25;
        color: black;
    }
    label{
        display: block;
        margin-top: 1em;
    }
    label:first-of-type {
        margin-top: 0;
    }
    input {
        padding: .5em;
        border: solid 1px black;
    }
    input[type="email"], input[type="text"]{
        width: 15em;
    }
    input[type="checkbox"] + label{
        display: inline-block;
        padding-top: 0;
        margin-top: 0;
    }
    input[type="submit"]{
        padding: .5em 1em;
        border-radius: 6px;
        background-color:darkseagreen;
        color: black;
        font-family: sans-serif;
        font-size: .8em;
    }
   .wrapper1{
    width: 1000px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper1 h1{
    font-size: 3em;
    margin: 25px 0;
    text-align: center;
    font-weight: 500;
}

.content-box1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}

.card2{
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #A3DAA6;
    margin: 10px 4px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.2);
}

.card2 i{
    margin: 20px;
    color: #ff5724;
}
.card2 h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
}
.card2 p{
    color: black;
    text-align: center;
}
.card2:hover i,
.card1:hover p{
    color: #fff;
}
.card2:hover h2{
    font-weight: 600;
}
.card2:nth-child(1):hover{
    background: linear-gradient(45deg, rgba(255,28,8,0.8)0%, rgba(255,0,82,0.8) 100%),url('images/dog_nail_cipper.jpg');
    background-size: cover;
}
.card2:nth-child(2):hover{
    background: linear-gradient(45deg, rgba(255,28,8,0.8)0%, rgba(255,0,82,0.8) 100%),url('images/cat_comb.jpg');
    background-size: cover;
}
.card2:nth-child(3):hover{
    background: linear-gradient(45deg, rgba(255,28,8,0.8)0%, rgba(255,0,82,0.8) 100%),url('images/brush.jpg');
    background-size: cover;
}
    
    .dog-at-home{
        float: left;
  width: 50%;
  padding: 5px;
    }
    .cat-at-home{
        float: right;
  width: 33.33%;
  padding: 5px;
       
    }
    .float-end::after{
         content: "";
  clear: both;
  display: table;
    }
    .athome-image2{
        border-radius: 10px;
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
    }
    .athome-image3{
        border-radius: 10px;
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
        height: 170px;
    }
    /* FAQ */
    .logo1{
    color: white;
    font-size: 35px;
    line-height: 50px;
    padding: 0 20px;
    font-weight: bold;
    text-align: left;
}
    fieldset1 {
        margin: 2em 0;
        padding: 1em 2em;
        border: solid 1px white;
        border-radius: 200px;
        min-width: 200px;
    }
    legend1{
        font-size: 1.25em;
        padding: 0 .25;
        color: black;
    }
    label1{
        display: block;
        margin-top: 1em;
    }
    label1:first-of-type {
        margin-top: 1;
    }
    input {
        padding: .5em;
        border: solid 1px black;
    }
    input[type="email"], input[type="text"]{
        width: 15em;
    }
    input[type="checkbox"] + label{
        display: inline-block;
        padding-top: 0;
        margin-top: 0;
    }
    input[type="submit"]{
        padding: .5em 1em;
        border-radius: 6px;
        background-color:darkseagreen;
        color: black;
        font-family: sans-serif;
        font-size: .8em;
    }
}
    @media screen and (max-width: 900px){
        
    }
    
/* desktop view */
    @media screen and (max-width: 1200px){
        .desktop-view{
            display: none;
        }
        .athome-image1{
            width: 80%
        }
        
    }
   
    
    }
@media screen and (max-width: 900px){
        .desktop-view{
            display: none;
        }
    .tablet-view{
        display: none;
    }
    }
   
@media screen and (min-width: 1300px){
    /* Home page */
    .col1{
      width: 100%;
        margin: 10px;
        height: 350px;
        background-color: #BFE4C1;
    }
    .index-text{
        padding: 0px 0px 0px 10px;
    }
    .john-diggle{
        font-size: 1em;
        font-family: bold;
        padding: 0px 0px 0px 30px;
    }
    .review{
        padding: 0px 0px 0px 20px;
    }
    h6{
        font-size: 1.5em;
        color: darkslategray;
        padding: 0px 0px 0px 10px;
    }
    .home-image{
        width: 40%;
        align-content: left; 
        align-items: left;
        padding: 0px 0px 0px 20px;
    }
    .our-story{
        background-color: #BFE4C1;
        width: 100%;
        
    }
    .home-col{
        background: #96BC98;
        height: 1800px;
        width: 70%;
    }
    .column4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
    margin: -2170px 0px 0px 1000px;
        
        
  }
    .card4 {
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #1f003b;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ffffff;
  margin: 25px 50px 55px 20px;
        position: relative;
  left: 30px;
  border: 3px solid #73AD21;
  
}
.card4 .img-container1 {
  width: 8em;
  height: 8em;
  background-color: #97DD9A ;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
.card4 img {
  width: 100%;
    height: 100%;
  border-radius: 50%;
}
.card4 h3 {
  font-weight: 500;
}
.card4 p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}
.card4 a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}
.card4:hover {
  background: linear-gradient(#0F6613 , #339137 );
  color: #ffffff;
}
.card4:hover .img-container1 {
  transform: scale(1.15);
}
    .end-home{
        color: #96BC98;
        margin: 25px 20px 1605px 0px;
    }
    /* Products */
    .wrapper1{
    width: 1000px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper1 h1{
    font-size: 3em;
    margin: 25px 0;
    text-align: center;
    font-weight: 500;
}

.content-box1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}

.card2{
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #A3DAA6;
    margin: 10px 4px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.2);
}

.card2 i{
    margin: 20px;
    color: #ff5724;
}
.card2 h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
}
.card2 p{
    color: black;
    text-align: center;
}
.card2:hover i,
.card1:hover p{
    color: #fff;
}
.card2:hover h2{
    font-weight: 600;
}
.card2:nth-child(1):hover{
    background: linear-gradient(45deg, rgba(255,28,8,0.8)0%, rgba(255,0,82,0.8) 100%),url('images/dog_nail_cipper.jpg');
    background-size: cover;
}
.card2:nth-child(2):hover{
    background: linear-gradient(45deg, rgba(255,28,8,0.8)0%, rgba(255,0,82,0.8) 100%),url('images/cat_comb.jpg');
    background-size: cover;
}
.card2:nth-child(3):hover{
    background: linear-gradient(45deg, rgba(255,28,8,0.8)0%, rgba(255,0,82,0.8) 100%),url('images/brush.jpg');
    background-size: cover;
}

         .services-text{
  position: relative;
        left: 200px;
        width: 400px;
    }
    .col2{
      width: 80%;
        margin: 30px 0px 0px 140px;
        height: 350px;
        background-color: #BFE4C1;
    }
    h10{
        font-size: 3em;
        margin: 10px -280px 100px 10px;
    }
    /* at home */
    .dog-at-home{
        float: left;
  width: 50%;
  padding: 5px;
    }
    .cat-at-home{
        float: right;
  width: 50%;
  padding: 5px;
       
    }
    
    .float-end::after{
         content: "";
  clear: both;
  display: table;
    }
    .athome-image2{
        border-radius: 10px;
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 63%;

    }
    .athome-image3{
        border-radius: 10px;
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
    }
    .athome-image5{
         border-radius: 10px;
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 34%;
    }
    .athome-image6{
     border-radius: 10px;
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35.8%;
    }
     .col2{
      width: 90%;
        margin: 10px 10px 10px 100px;
        height: 100%;
        background-color: #BFE4C1;
         border-color: #406953;
         border-style: solid;
  border-width: 5px;
    }
    .john-diggle2{
        font-size: 1em;
        font-family: bold;
        padding: 0px 0px 0px 30px;
    }
    .review2{
        padding: 0px 0px 0px 20px;
        background-color: #406953;
        color: white;
    }
    h6{
        font-size: 1.5em;
        color: darkslategray;
        padding: 0px 0px 0px 10px;
    }
    .map{
        width: 50%;
        position: relative;
        left: 30px;
        height: 300p
    }
    .form-grid{
        text-align: center;
        background-color: #BFE4C1;
        width: 100%;
  padding: 12px 20p ;
  margin: 8px 100px 0px -120px;
  box-sizing: border-box;
        width: 40%;
        position: relative;
        right: -900px;
        top: -460px
    }
    fieldset {
        margin: 2em 0;
        padding: 1em 2em;
        border: solid 1px #ccc;
        border-radius: 200px;
        min-width: 200px;
    }
    legend{
        font-size: 1.25em;
        padding: 0 .25;
        color: black;
    }
    label{
        display: block;
        margin-top: 1em;
    }
    label:first-of-type {
        margin-top: 0;
    }
    input {
        padding: .5em;
        border: solid 1px black;
    }
    input[type="email"], input[type="text"]{
        width: 15em;
    }
    input[type="checkbox"] + label{
        display: inline-block;
        padding-top: 0;
        margin-top: 0;
    }
    input[type="submit"]{
        padding: .5em 1em;
        border-radius: 6px;
        background-color:darkseagreen;
        color: black;
        font-family: sans-serif;
        font-size: .8em;
    }
    .hours-of-oporation{
        font-size: 1.5em;
         background-color: #BFE4C1;
         margin: -200px  700px -550px -10px;
        position: relative;
        left: 40px;
        top: -479px;
    }
    .hours-header{
        font-size: 1.9em;
        font-family: fantasy;
        color: darkslategray;
        background-color: #BFE4C1;
      
    }
    .th{
        
    }
}




<tr><th>Sunday</th><td>Closed</td></tr>
<tr><th>Monday</th><td>9am - 5pm</td></tr>
<tr><th>Tuesday</th><td>9am - 5pm</td></tr>
<tr><th>Wednesday</th><td>9am - 5pm</td></tr>
<tr><th>Thursday</th><td>9am - 5pm</td></tr>
</table>
    </div>